/*-------------------------------------------------
Author: Virgil Anderson
Title: Self Taught javaScript
Date: 6/23/2018
------------------------------------------------ */

/*
Color Pallete As hex codes

*** Primary color:

   #19082A
   #3E2556 - Light
   #2A1440
   #0D0218
   #050009 - Dark

*** Secondary color:

   #2D0625
   #5C2450 - Light
   #45123A
   #190014
   #0A0007 - Dark

*** Secondary color:

   #0E0B2B
   #2E2958 - Light
   #1C1842
   #050318
   #010109 - Dark
------------------------------------------------ */

/*
Main Elements
------------------------------------------------ */
body {
  background-color: #010109;
  font-family: sans-serif;
  background-image: url('../images/nebula.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1, h2, h3{
  color: #19082A;
}
h1{
  font-size: 2rem;
}
p{
  line-height: 1.25;
  margin: .75% 0;
}
header{
  background-color: #050318;
  margin: 0;
  padding: 1% 2.5%;
  text-align: left;
}
header h2{
  font-size: 2.5em;
  margin: 0;
  color: white;
}
.row {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
article{
  background-color: white;
  margin: 1% auto;
  width: 70%;
  display: table;
}
main{
  padding: 5% 7.5%;
  margin: 0;
  width: 50%;
  float: left;
  clear: left;
}
section{
  padding: 1% 7.5%;
  font-size: 1.25rem;
  background-color: #2E2958;
  color: white;
  margin: 0;
  width: 85%;
  float: left;
  border-left: 5px solid #010109;
}
section h3{
  color: white;
}
aside{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #050318;
  width: 35%;
  float: right;
}
aside h3{
  font-size: 1.75em;
  color: white;
}
footer{
  background-color: #050318;
  margin: 0;
  padding: 1%;
  color: white;
  text-align: center;
  border-top: 1px solid #2E2958;
  clear: both;
}

/* ------------------------------------------------
Main Nav Class Stylings
*/

.main_nav{
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #3E2556;
  font-size: 0;
}
.main_nav a{
  display: inline-block;
  width: 20%;
  padding: .5%;
  margin: 0;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}
.main_nav a:hover{
  background-color: #050009;
}

/* ------------------------------------------------
Side Nav Stylings
*/

nav {

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
li a{
  display: block;
  padding: 2.5%;
  margin: 0;
  font-size: 1.25em;
  text-decoration: none;
  color: white;

}
li a:hover{
  background-color: #190014;
}
.active{
  background-color: #0A0007;
}

/* ------------------------------------------------
Class Stylings
*/
.code_example{
  color: white;
  font-size: 1.25em;
  font-family: serif;
  padding:25px;
  background-color: #3E2556;
  border-left: 5px solid #050009;
}
.pagination{
  width: 50%;
  margin: auto;
  padding: 15px 0;
  text-align: center;
}
.pagination a{
  padding: 1% 2%;
  text-decoration: none;
  border: solid 1px #010109;
  color: #19082A;
  font-size: 1.25rem;
  font-family: serif;
}
.pagination a:hover{
  background-color: #2E2958;
  color: white;
}
.pagination a.paginationActive{
  color: white;
  background-color: #190014;
  color: white;
}
.indent{
  text-indent: 2%;
}
